@import "lib/mdl/material-design-lite";

@import "lib/monokai-sublime";

/* Demo Styles */
.demo-ribbon {
  width: 100%;
  height: 50vh;
  background-color: #456583;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-main {
  margin-top: -40vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 75px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  max-width: 800px;
  padding: 35px 56px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}

.demo-layout.is-small-screen .demo-content {
  padding: 10px 28px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

/* My Styles */

h2.title {
  font-size: 40px;
}

code, pre {
  font-family: monospace;
}

code.hljs {
  border-radius: 5px;
  font-size: 14px;
}

code {
  color: #252525;
  font-size: 90%;
  background: #e4e4e4;
  padding: 1px 5px;
  border-radius: 5px;
}

ol.instruction-set {
  list-style: none;
  counter-reset: item;

  li {
    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;
    counter-increment: item;

    &:before {
      content: counter(item);
      position: absolute;
      top: -2px;
      left: -35px;
      color: #ffffff;
      text-align: center;
      font-size: 15px;
      width: 26px;
      line-height: 26px;
      border-radius: 50%;
      background-color: #424242;
    }

    > span {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;

      display: block;
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
    }

    p {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}
